{% extends 'admin/base.html.twig' %}

{% block body %}
    <section>
        {% for admin in admins %}
            <article class="boxContain">
                <div class="box">
                    <h2> {{ admin.email }} </h2>

                    <div>
                        {% for roles in admin.roles %}
                            <strong> {{ roles }} </strong>
                        {% endfor %}
                        <br>
                        <a href="{{ path('admin_update_admin', {'id': admin.id}) }}">Modifier</a>
                        <a href="{{ path('admin_delete_admin', {'id': admin.id}) }}">Supprimer</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
    <div class="boxContain">
        <a class="btn-accueil" href="{{path('admin_create_admins')}}">Ajouter un admin</a>
    </div>
    {% for message in app.flashes('success') %}
        <h3> {{ message }}</h3>
    {% endfor %}
{% endblock %}



