{% extends 'admin/base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>

    <table class="table">
        <thead>
            <tr class="tableau">
                <th class="tableau">Id</th>
                <th class="tableau">titre</th>
                <th class="tableau">Nombres de pages </th>
                <th class="tableau">Image</th>
                <th class="tableau">Auteur</th>
                <th class="tableau">Date de publication</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr class="tableau">
                <td class="tableau">{{ book.id }}</td>
                <td class="tableau">{{ book.title }}</td>
                <td class="tableau">{{ book.nbPages }}</td>
                <td class="tableau"><img class="mini" src="{{ asset('uploads/images/') ~ book.image }}" alt="{{ book.title }}"></td>
                {% if book.author %}
                    <td class="tableau">{{ book.author.firstName }}</td>
                {% endif %}
                <td class="tableau">{{ book.publishedAt ? book.publishedAt|date('Y-m-d') : '' }}</td>
                <td class="tableau">
                    <a href="{{ path('admin_app_book_show', {'id': book.id}) }}">Voir</a>
                    <a href="{{ path('admin_app_book_edit', {'id': book.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">non enregistrer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_app_book_new') }}">Créer un nouveau livre</a>
{% endblock %}
