{% extends 'admin/base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ author.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ author.lastName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ author.birthDate? author.birthDate|date('Y-m-d'): ''}}</td>
            </tr>

            <tr>
                <th>Date de décès</th>
                <td>{{ author.deathDate? author.deathDate|date('Y-m-d'): ''}}</td>
            </tr>
            <tr>
                <th>livres</th>
                <td>{{ author.books.contains('title')}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_author_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_author_edit', {'id': author.id}) }}">Modifier</a>

    {{ include('admin/_delete_form_author.html.twig') }}
{% endblock %}
