{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Nombres de Pages</th>
                <td>{{ book.nbPages }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ book.author.firstName }}</td>
            </tr>
            <tr>
                <th>Date de Publication</th>
                <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_book_index') }}">retour à la liste </a>

    <a href="{{ path('admin_app_book_edit', {'id': book.id}) }}">Ajouter</a>

    {{ include('admin/_delete_form_book.html.twig') }}
{% endblock %}
