{% extends 'admin/base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="tableau">Id</th>
                <td class="tableau">{{ book.id }}</td>
            </tr>
            <tr>
                <th class="tableau">Titre</th>
                <td class="tableau">{{ book.title }}</td>
            </tr>
                <tr>
                    <th class="tableau">Image</th>
                    <td class="image"><img class="maxi" src="{{ asset('uploads/images/') ~ book.image }}" alt="{{ book.title }}"></td>
                </tr>
            <tr>
                <th class="tableau">Nombres de Pages</th>
                <td class="tableau">{{ book.nbPages }}</td>
            </tr>
            <tr>
                <th class="tableau">Auteur</th>
                <td class="tableau">{{ book.author.firstName }}</td>
            </tr>
            <tr>
                <th class="tableau">Date de Publication</th>
                <td class="tableau">{{ book.publishedAt ? book.publishedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_book_index') }}">retour à la liste </a>

    <a href="{{ path('admin_app_book_edit', {'id': book.id}) }}">Ajouter</a>

    {{ include('admin/_delete_form_book.html.twig') }}
{% endblock %}
