<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <body>
        {% block header %}
            <nav class="burgerMenu">
                <a href="{{path('home')}}">Accueil</a>
                <a href="{{path('index_book')}}">Nos Livres</a>
                <a href="{{path('index_author')}}">Les Auteurs</a>
                <a href="{{path('app_login')}}">Connexion</a>
                <form action="{{ path('search_bar') }}" method="get" class="formulaire">
                    <label for="search" class="form-label"></label>
                    <input class="form-control" type="text" name="search" id="search" placeholder="Chercher sur le site " >
                    <input class="btn btn-light" type="submit">
                </form>
            </nav>
            <button type="button" aria-label="toggle curtain navigation" class="nav-toggler">
                <span class="line l1"></span>
                <span class="line l2"></span>
                <span class="line l3"></span>
            </button>
            <nav class="containerNav">
                <a class="btn-accueil" href="{{path('home')}}">Accueil</a>
                <a class="btn-accueil" href="{{path('index_book')}}">Nos Livres</a>
                <a class="btn-accueil" href="{{path('index_author')}}">Les Auteurs</a>
                <a class="btn-accueil" href="{{path('app_login')}}">Connexion</a>
                <form action="{{ path('search_bar') }}" method="get" class="formulaire">
                    <label for="search" class="form-label"></label>
                    <input class="form-control" type="text" name="search" id="search" placeholder="Chercher sur le site " >
                    <input class="btn btn-light" type="submit">
                </form>
            </nav>

        {% endblock %}
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer%}
        <button class="js-night-mode">Night Mode</button>
        <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}
    </footer>
</html>
